@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
body{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
}

.quiz-app{
  background-color: #fff;
  width: 600px;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  border-radius: 4px;
}
.question-section{
  /* dont assign flex and its properties unwantedly  */
text-align: center;
}
.question-section h2{
  color: #3498db;
  margin: 10px 0px;
  font-weight: 600;
}
.question-section p{
  font-weight: 500;
}
.options{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}
button{
  padding: 15px 20px;
  font-size: 14px;
  border-radius: 30px;
  border: none;
  background-color: #3498db;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover{
  filter: brightness(1.2);
}
.timer{
  margin-top: 20px;
  font-size: 18px;
  color: #555;
}
.timer span{
  font-weight: 800;
}
.score-section{
  text-align: center;
}
.score-section h2{
  font-weight: 500;
  margin-bottom: 15px;
}
.score-section button{
  background-color: tomato;
}